<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nulla.</p> 


   
   <form action="#" method="POST">

        <input type="text"   name="F_name" placeholder="Enter your first name" required >
        <input type="text"   name="L_name" placeholder="Enter your last name" required >
        <input type="email" pattern="^.{1,10}$" name="Email"  placeholder="Enter your email"required >
        <input type="tel" pattern="[0-9]{10}" name="number"  placeholder="Enter your number phone"required >
        <input type="text" pattern="^.{1,10}$" name="ville"  placeholder="ville"required >
        <input type="text" pattern="^.{1,10}$" name=" etablissement"  placeholder="Enter your univ"required >
        <input type="text" pattern="^.{1,10}$" name="niveau"  placeholder="niveau"required >
        <input type="text" pattern="^.{1,10}$" name=" specialite"  placeholder="Enter your  specialite"required >
        <input type="text" pattern="^.{1,10}$" name="entreprise"  placeholder="Enter your entreprise"required >
        <input type="text" pattern="^.{1,10}$" name=" mode_de_participation"  placeholder=" mode_de_participation"required >
        <input type="text" pattern="^.{1,10}$" name="name_team"  placeholder="Enter your name_team"required >
        <input type="text" pattern="^.{1,10}$" name=" lien_vers_github"  placeholder=" lien vers github"required >
        <input type="text" pattern="^.{1,10}$" name=" lien_vers_linkedin"  placeholder="lien vers linkedin"required >
        <input type="text" pattern="^.{1,10}$" name="competences_techniques"  placeholder="Enter your competences techniques"required >
        <input type="text" pattern="^.{1,10}$" name=" experience_en_ia"  placeholder=" experience_en_ia"required >
        <input type="text" pattern="^.{1,10}$" name=" motivation"  placeholder="motivation"required >
        
         <button type="submit"> submit </button>

   </form>


</body>
</html>