body {
    width: 100%;
    height: max-content;
    /* background: black; */
    background: radial-gradient(ellipse 177.46% 352.09% at 50.00% 38.36%, black 0%, #09173C 63%, #1C2140 89%);
    margin: 0;
    overflow-x: hidden; 
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    margin: 0;
    padding: 20px;
} 

.triangle-logo-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    gap: 15px;
}
.left-triangle {
    display: inline-block;
    margin-right: 10px;
}
.triangle-img {
    height: 300px; 
    width: 300px;
    transform: translateY(2px);
}

.circle-button {
    /* margin: 4rem 0 0 2rem; */
    display: inline-flex;
    align-items: center;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #30C35D, #DFFE01);
    cursor: pointer;
    transition: all 0.3s ease;
    /* position: relative; */
    /* overflow: hidden;  */
    /* z-index: 1; */
}

.circle-button a {
    /* z-index: 1; */
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    /* position: relative; */
    padding-left: 18px;
    transform: translateX(-8px);
}

.circle-button:hover {
    width: 160px;
    border-radius: 25px;
    background-image: linear-gradient(45deg, #DFFE01, #30C35D);
}
.circle-button:hover .btn-text {
    color: black;
}
.circle-button:hover .btn-text::before,
.circle-button:hover .btn-text::after {
    display: none;
}
.circle-button:hover .arrow {
    opacity: 1;
    color: black;
    transform: translateX(5px);
    margin-left: 15px;
}

.btn-text {
    font-family: 'kontora';
    white-space: nowrap;
    position: relative;
    color: white;
    mix-blend-mode: lighten;
    transform: translateX(14px);
    transition: all 0.3s ease;
}

.btn-text::before {
    content: "JO";
    position: absolute;
    left: 0;
    color: black; 
    z-index: 2;
}
/* .btn-text::after {
    content: "IN US";
    position: absolute;
    left: 12px; 
    color: white;
    z-index: 1;
} */
.arrow {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 20px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}