/* .navbar {
    padding: 20px 40px;
    background-color: transparent;
    display: flex;
 
    gap: 30px;
} */
.navbar {
    padding: 20px 16%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 6.875rem;
    align-items: center; 
    /* gap: 30px; */
}

.main-logo {
    display: flex;
    align-items: center;    
}

.main-logo img {

    height: auto;
    width: 430px;
    transition: opacity 0.3s ease;
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
   
}
.navlinks li a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.275rem;
    position: relative;
    padding-bottom: 5px;
}

.navlinks li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #4CAF50;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navlinks li a:hover::after {
    width: 100%;
}

.responsive-only-image {
    display: none;
}


@media (max-width: 375px) {

    .main-logo {
        max-width: 155px;
        min-width: 155px;
        overflow: hidden;
    }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {

    .navbar {
        padding: 20px 2%;
        align-items: center; 
        /* gap: 30px; */
    }


    .circle-button ,.circle-button:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 32px;
        border-radius: 25px; 
        padding: 10px 20px; 
    }

    .btn-text {
        color: black;
        font-size: 0.9rem;
    }

    .arrow {
        font-size: 1rem; 
        color: black;
    }

    .circle-button:hover {
        background-color: #4CAF50; 
    }
    
    .btn-text , .btn-text:hover {
        color: #000;        
    }
    .circle-button::after, .circle-button::before {
        display: none;
    }
    .btn-text::before , .btn-text::after {
        display: none;
    }
}


@media (max-width: 768px) {   
    .main-logo img {
        height: auto;
        width: 80%;
        min-width: 320px;   
    }
}


/* Small devices (phones, 576px and up) */
@media(max-width: 1300px) {
    .nav-btns {
        display: none;
    }
    .main-logo img {

        height: auto;
        width: 80%;
        min-width: 270px;        
    }
    
}

