/* .navbar {
    padding: 20px 40px;
    background-color: transparent;
    display: flex;
 
    gap: 30px;
} */
.navbar {
    padding: 20px 130px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    height: 6.875rem;
    align-items: center; 
    /* gap: 30px; */
}

.main-logo {
    display: flex;
    align-items: center;    
}

.main-logo img {

    height: auto;
    width: 430px;
    transition: opacity 0.3s ease;
}

.navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 80px;
   
}
.navlinks li a {
    color: white;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1.275rem;
    position: relative;
    padding-bottom: 5px;
}

.navlinks li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #4CAF50;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navlinks li a:hover::after {
    width: 100%;
}

@media (max-width: 1300px) {
    .nav-btns {
        display: none;
    }
    .main-logo img {

        height: auto;
        width: 80%;
        min-width: 320px;
        transition: opacity 0.3s ease;
    }
}